* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body {
    background-color: rgb(42, 42, 42);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
/* .container {
    width: 200px;
    height: 200px;
    perspective: 1000px;
    margin: 100px auto 0;
    border: 2px solid red;
} */
.cube {
    width: 200px;
    height: 200px;
    position: relative;
    transform-style: preserve-3d;
    animation: spin 5s infinite linear;
}
.face {
    position: absolute;
    width: 200px;
    height: 200px;
}
.top {
    background-color: rgba(106, 90, 205,.6);
    transform: rotateX(90deg) translateZ(100px);
}
.bottom {
    background-color:rgba(46, 139, 87,.6);
    transform: rotateX(-90deg) translateZ(100px);
}
.right {
    background-color:rgba(202, 61, 162, 0.6);
    transform: rotateY(90deg) translateZ(100px);
}
.left {
    background-color:rgba(183, 61, 20, 0.6);
    transform: rotateY(-90deg) translateZ(100px);
}
.back{
    background-color: rgba(245, 225, 11, 0.6);
    transform: rotateX(-180deg) translateZ(100px);
}
.front {
    background-color: rgba(253, 2, 2, 0.6);
    transform: rotateX(0deg) translateZ(100px);
}
@keyframes spin {
    from {
        transform: rotateX(0deg) rotateY(0deg);
    }
    to {
        transform: rotateX(360deg) rotateY(360deg);
    }
}